<h1>All About the Resort</h1>

<div class="photo">
  <img src="/images/1010catsestate1.jpg" />
</div>

<div class="photo">
  <img src="/images/napacat.png" />
</div>

<div class="photo">
  <img src="/images/catresort2.jpg" />
</div>
